.form-input {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    opacity: 0.5;
    border: 1px solid #264464;
  
      
    }
  
    input::placeholder {
      font-family: "Montserrat";
      padding-left: 16px;
    }